{{- $about := .Site.Params.about | default dict -}}
{{- $about = merge $about (.Site.Language.Params.about | default dict) -}}
{{- $about = merge $about (.Params.about | default dict) -}}
{{ if $about.enable | default false }}
<section id="about" class="py-0 py-sm-5">
    <div class="container bg-transparent">
        <h3 class="text-center bg-transparent">{{ $about.title | default (i18n "about") }}</h3>
        <div class="bg-transparent row justify-content-center align-items-start px-3 py-5">
            {{ if $about.image }}
            <div class="col-sm-12 col-md-8 col-lg-4 mb-4 mb-lg-0 d-none d-sm-none d-md-block">
                <div class="image d-flex justify-content-center px-lg-4">
                    <img src="{{ $about.image }}" class="mx-auto d-block" style="width: min(100%, 300px); aspect-ratio: 3 / 4; object-fit: cover; object-position: center top; border-radius: 18px;" alt="{{ .Site.Params.title }} profile picture">
                </div>
            </div>
            {{ end }}
            <div class="col-sm-12 col-md-12 col-lg-8 content ps-lg-4">
                {{ $about.content | markdownify }}

                {{ if $about.skills.enable }}
                {{ $about.skills.title }}
                <ul>
                    {{ range $about.skills.items }}
                    <li>{{ . | markdownify }}</li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
